header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 65%;
  text-align: center;
  padding-top: var(--padding);
  color: white;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  display: flex;
  flex-direction: column;
  border-radius: 0 !important;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 57%, #606ab6b6 100%);
  grid-area: heading;
  pointer-events: none;
}

header p {
  font-size: 4rem;
  font-weight: 600;
  font-family: "AmongUs", "Courier New", Courier, monospace;
}
